WpfApp1/packages/*
WpfApp1/WpfApp1/obj/*
WpfApp1/WpfApp1/bin/*
/ImportPythonEmailModules/.vs/ImportPythonEmailModules/v15/Server/sqlite3/db.lock
/ImportPythonEmailModules2/.vs/ImportPythonEmailModules2/v15/Server/sqlite3/db.lock
