WpfApp1/packages/*
WpfApp1/WpfApp1/obj/*
WpfApp1/WpfApp1/bin/*
/eyeassistnat 11.30 version/.vs/WpfApp1/v15/Server/sqlite3/db.lock
/EyeAssistant (Tobii)/.vs/WpfApp1/v15/Server/sqlite3/db.lock
/Scrap Modules/ClickWithGazeButton/.vs/ClickWithGazeButton/v15/Server/sqlite3/db.lock
/Scrap Modules/eyeassistnat 11.3/.vs/WpfApp1/v15/Server/sqlite3/db.lock
/Scrap Modules/ImportPythonEmailModules2/.vs/ImportPythonEmailModules2/v15/Server/sqlite3/db.lock
/Scrap Modules/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/db.lock
